// footer
footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a(href='#') درباره ما
        li: a(href='#') دانلود برنامه ها
        li: a(href='#') راهنما شوید
        li: a(href='#') شغل ها
        li: a(href='#') تماس با ما
    p.footer__copyright توسط آتنا دادخواه. تمام حقوق محفوظ است. &copy; #{new Date().getFullYear()}